@import url("./gambetta.css");
@import url("general-sans.css");

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body,
body * {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}

$white: #ffffff;
$purple: #5a4098;
$orange: #ff7050;


$grey_100: #000000;
$grey_200: #303030;
$grey_300: #646464;
$grey_400: #808080;
$grey_500: #c8c8c8;
$grey_600: #d8d8d8;
$grey_700: #f8f8f8;

$alert_red: #ff5353;
$alert_green: #67ad1a;
$alert_yellow: #FFAA28;
$alert_blue: #46B8DC;

$shape_icon: #808080;
$shape_line: #d8d8d8;

//OUTLINES
.shape_outline {
	border: 1px solid #d8d8d8;
}

.shape_outline_active {
	border: 1px solid #5a4098 !important;
	color: #5a4098 !important;

	// &:hover {
	// 	border: 2px solid #5a4098;
	// }
}

//SHADOWS
.shadow_cardshadow {
	background: #fff;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
}

.shadow_100 {
	background: rgba(0, 0, 0, 0);
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
}

.shadow_200 {
	background: rgba(0, 0, 0, 0);
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
}

.shadow_300 {
	// border-radius: 8px;
	background: rgba(0, 0, 0, 0);
	box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.16);
}

//font weights

//font sizes

.logo {
	font-size: 21px;
}

.icon {
	color: $shape_icon ;
	cursor: pointer;
}

a {
	color: black;
}

.h1 {
	font-size: 48px;
	letter-spacing: -0.4px;
}

.h2 {
	font-size: 36px;
}

.h3 {
	font-size: 32px;
}

.h4 {
	font-size: 24px;
}

.h5 {
	font-size: 18px;
}

.h6 {
	font-size: 16px;
}

.h7 {
	font-size: 14px;
}

.h8 {
	font-size: 12px;
}

.h1-italic {
	font-family: "Gambetta-BoldItalic";
	font-weight: 700;
	font-size: 80px;
	letter-spacing: -1px;
}

.h2-italic {
	font-family: "Gambetta-BoldItalic";
	font-weight: 700;
	font-size: 72px;
	letter-spacing: -0.9px;
}

.h3-italic {
	font-family: "Gambetta-SemiboldItalic";
	font-weight: 600;
	font-size: 48px;
	letter-spacing: -1px;
}

.h4-italic {
	font-family: "Gambetta-SemiboldItalic";
	font-weight: 600;
	font-size: 32px;
	letter-spacing: -0.667px;
}

.h5-italic {
	font-family: "Gambetta-SemiboldItalic";
	font-weight: 600;
	font-size: 24px;
	letter-spacing: -1px;
}

.p1 {
	font-family: "GeneralSans-Regular";
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
}

.p2 {
	font-family: "GeneralSans-Regular";
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
}

.p3 {
	font-family: "GeneralSans-Regular";
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

.p4 {
	font-family: "GeneralSans-Regular";
	font-weight: 400;
	font-size: 12px;
	line-height: 19px;
}

.product-m {
	font-family: "GeneralSans-Medium";
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
}

.product-l {
	font-family: "GeneralSans-Medium";
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
}

.product-xl {
	font-family: "GeneralSans-Medium";
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
}

.label_text {
	font-family: "GeneralSans-Semibold";
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 0.48px;
	text-transform: uppercase;
}

.tiny_text {
	font-family: "GeneralSans-Regular";
	font-weight: 400;
	font-size: 10px;
}

.big_text {
	font-family: "GeneralSans-Medium";
	font-weight: 500;
	font-size: 64px;
	line-height: 64px;
}

.sb {
	font-family: "GeneralSans-Semibold";
	font-weight: 600;
}

.md {
	font-family: "GeneralSans-Medium";
	font-weight: 500;
}

.rg {
	font-family: "GeneralSans-Regular";
	font-weight: 400;
}

.white {
	color:#ffffff;
}

.purple {
	color:#5a4098;
}

.orange {
	color:#ff7050;
}