@import url("./gambetta.css");
@import url("general-sans.css");
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
body * {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.shape_outline {
  border: 1px solid #d8d8d8;
}

.shape_outline_active {
  border: 1px solid #5a4098;
  color: #5a4098;
}

.shadow_cardshadow {
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
}

.shadow_100 {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
}

.shadow_200 {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
}

.shadow_300 {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.16);
}

.logo {
  font-size: 21px;
}

.icon {
  color: #808080;
  cursor: pointer;
}

a {
  color: black;
}

.h1 {
  font-size: 48px;
  letter-spacing: -0.4px;
}

.h2 {
  font-size: 36px;
}

.h3 {
  font-size: 32px;
}

.h4 {
  font-size: 24px;
}

.h5 {
  font-size: 18px;
}

.h6 {
  font-size: 16px;
}

.h7 {
  font-size: 14px;
}

.h8 {
  font-size: 12px;
}

.h1-italic {
  font-family: "Gambetta-BoldItalic";
  font-weight: 700;
  font-size: 80px;
  letter-spacing: -1px;
}

.h2-italic {
  font-family: "Gambetta-BoldItalic";
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -0.9px;
}

.h3-italic {
  font-family: "Gambetta-SemiboldItalic";
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -1px;
}

.h4-italic {
  font-family: "Gambetta-SemiboldItalic";
  font-weight: 600;
  font-size: 32px;
  letter-spacing: -0.667px;
}

.h5-italic {
  font-family: "Gambetta-SemiboldItalic";
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -1px;
}

.p1 {
  font-family: "GeneralSans-Regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.p2 {
  font-family: "GeneralSans-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.p3 {
  font-family: "GeneralSans-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.p4 {
  font-family: "GeneralSans-Regular";
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
}

.product-m {
  font-family: "GeneralSans-Medium";
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.product-l {
  font-family: "GeneralSans-Medium";
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}

.product-xl {
  font-family: "GeneralSans-Medium";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.label_text {
  font-family: "GeneralSans-Semibold";
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.tiny_text {
  font-family: "GeneralSans-Regular";
  font-weight: 400;
  font-size: 10px;
}

.big_text {
  font-family: "GeneralSans-Medium";
  font-weight: 500;
  font-size: 64px;
  line-height: 64px;
}

.sb {
  font-family: "GeneralSans-Semibold";
  font-weight: 600;
}

.md {
  font-family: "GeneralSans-Medium";
  font-weight: 500;
}

.rg {
  font-family: "GeneralSans-Regular";
  font-weight: 400;
}

.white {
  color: #ffffff;
}

.purple {
  color: #5a4098;
}

.orange {
  color: #ff7050;
}

.catergory_block {
  width: 165px;
  height: 162px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.catergory_block img {
  border-radius: 8px 8px 0 0;
}

.product_card {
  text-align: center;
}
.product_card .name {
  margin: 8px 0 4px;
}
.product_card .star {
  color: #FFAA28;
}
.product_card .rating_container {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-bottom: 10px;
}
.product_card .discounted_price {
  margin-left: 6px;
  color: #808080;
  text-decoration: line-through;
}

.news_card {
  max-width: 360px;
}
.news_card .h4 {
  margin: 24px 0 8px;
}
.news_card .h7 {
  padding-bottom: 22px;
  border-bottom: 1px solid #d8d8d8;
}
.news_card .p3 {
  margin-top: 12px;
}

.announcement_bar {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10.42vw;
  background: #000000;
}
.announcement_bar .language-and-currency {
  display: flex;
  gap: 24px;
}
.announcement_bar .language-and-currency > div {
  display: flex;
  align-items: center;
  gap: 2px;
}
.announcement_bar * {
  color: #ffffff;
}
@media (max-width: 700px) {
  .announcement_bar .language-and-currency {
    display: none;
  }
}
@media (max-width: 520px) {
  .announcement_bar {
    flex-direction: column;
    justify-content: center;
  }
}

.quantity_selector {
  border-radius: 28px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.quantity_selector .icon {
  margin-top: 4px;
}

.navbar {
  width: 100%;
  height: 130px;
}
.navbar__top {
  padding: 0 10.42vw;
  border-bottom: 1px solid #d8d8d8;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}
.navbar__top .searchbar {
  background-color: #f8f8f8;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px 0 24px;
  border-radius: 24px;
  margin: 0 48px;
}
.navbar__top .searchbar input {
  border: none;
  width: 100%;
  height: 100%;
  background-color: inherit;
}
.navbar__top .searchbar input:focus {
  outline: none;
}
.navbar__top .cart_popup {
  margin-right: 24px;
  position: relative;
}
.navbar__top .cart_popup .menu {
  position: absolute;
  width: 400px;
  right: -48px;
  top: 50px;
  background: #ffffff;
  border-radius: 16px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}
.navbar__top .cart_popup .menu .header {
  padding: 14px 24px;
  border-bottom: 1px solid #d8d8d8;
}
.navbar__top .cart_popup .menu .cart_items {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.navbar__top .cart_popup .menu .checkout {
  padding: 24px;
  border-top: 1px solid #d8d8d8;
}
.navbar__top .cart_popup .menu .checkout .subtotal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}
.navbar__top .cart_popup .menu .checkout .checkout_button {
  background-color: #5a4098;
  color: #ffffff;
  padding: 12px;
  text-align: center;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 16px;
}
.navbar__top .cart_popup .menu .checkout .view_cart_button {
  background-color: #ffffff;
  padding: 12px;
  text-align: center;
  width: 100%;
  border-radius: 20px;
}
.navbar__top .cart_popup .menu::after {
  content: "";
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 14px solid #ffffff;
  position: absolute;
  right: 48px;
  top: -14px;
}
.navbar__top .cart_popup .menu:hover {
  visibility: visible;
  opacity: 1;
}
.navbar__top .cart_popup:hover .menu {
  visibility: visible;
  opacity: 1;
}
.navbar__top .cart_popup .cart_item {
  display: flex;
}
.navbar__top .cart_popup .cart_item .left {
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 4px;
}
.navbar__top .cart_popup .cart_item .center {
  margin: 0 auto 0 16px;
}
.navbar__top .cart_popup .cart_item .center .item_weight {
  margin: 4px 0 11px;
}
.navbar__top .cart_popup .cart_item .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.navbar__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding: 0 10.42vw;
}
.navbar__bottom .left {
  display: flex;
  align-items: center;
  gap: 24px;
}
.navbar__bottom .left > div {
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}
.navbar__bottom .right {
  display: flex;
  align-items: center;
  gap: 32px;
}
.navbar__bottom .right > a {
  display: flex;
  align-items: center;
  gap: 2px;
}

.footer {
  background: #f8f8f8;
  padding: 0 10.42vw 0;
  width: 100%;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}
.footer__top .left .p3 {
  margin: 14px 0 24px;
}
.footer__top .left .button_container {
  display: flex;
  gap: 16px;
  margin-top: 14px;
}
.footer__top .left .button_container button {
  border: none;
}
.footer__top .right {
  display: flex;
  gap: 4vw;
}
.footer__top .right .list_container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer__top .right .list_container h5 {
  margin-bottom: 8px;
}
.footer__top .right .list_container .contact {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer__top .right .list_container .social_media_container {
  margin-top: 10px;
}
.footer__top .right .list_container .social_media_container img {
  width: 24px;
  height: auto;
  margin-right: 16px;
}
.footer__bottom {
  border-top: 1px solid #d8d8d8;
  height: 144px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__bottom .payment_container {
  display: flex;
  align-items: center;
  gap: 18px;
}

.landing {
  width: 100%;
}
.landing .hero {
  padding: 72px 0 70px;
  text-align: center;
}
.landing .hero h1 {
  margin-bottom: 11px;
}
.landing .shop_now {
  width: 100%;
  height: 500px;
  max-height: 500px;
  background-image: url("../img/landing/decorated-interior.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 60%;
  display: grid;
  place-items: center;
}
.landing .shop_now__button {
  background-color: #ffffff;
  padding: 20px 20px 20px 32px;
  border-radius: 32px;
  border: none;
  display: flex;
  align-items: center;
  gap: 25px;
  cursor: pointer;
}
.landing .catergory_section {
  padding: 100px 0;
  text-align: center;
}
.landing .catergory_section .catergories_container {
  margin-top: 68px;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-right: auto;
  margin-left: auto;
}
.landing .new_product {
  padding: 0 10.42vw 100px;
}
.landing .new_product__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d8d8d8;
  padding: 100px 0 68px;
}
.landing .new_product__header nav a {
  padding: 6px 16px;
  border-radius: 24px;
}
.landing .new_product__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.landing .new_product__content > img {
  height: 100%;
}
.landing .new_product__content .other_products_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
}
.landing .sofa_set {
  display: flex;
  justify-content: space-between;
}
.landing .sofa_set__content {
  padding: 131px 0 0 150px;
  background: #f8f8f8;
  width: 50%;
}
.landing .sofa_set__content .h1 {
  margin: 27px 0 7px;
}
.landing .sofa_set__content .p3 {
  color: #303030;
  margin-bottom: 32px;
}
.landing .sofa_set__content .other_product {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.landing .sofa_set__content .other_product .discounted_price span {
  color: #808080;
  text-decoration: line-through;
  margin-left: 4px;
}
.landing .sofa_set__content .explore_collection_button {
  padding: 20px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  border: none;
  border-radius: 32px;
  background: #5a4098;
  margin-top: 48px;
}
.landing .sofa_set__content .explore_collection_button > .icon {
  color: #ffffff;
  margin-left: 16px;
}
.landing .sofa_set__image {
  width: 50%;
  height: auto;
}
.landing .brands {
  padding: 88px 10.42vw 0px;
}
.landing .brands .brand__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.landing .brands .brand__container .brand {
  width: 204px;
  height: 100px;
  display: grid;
  place-items: center;
}
.landing .brands .all_brand {
  display: block;
  text-align: center;
  padding: 72px 10.42vw 100px;
  border-bottom: 1px solid #d8d8d8;
}
.landing .news {
  padding: 100px 10.42vw;
}
.landing .news h1 {
  text-align: center;
  margin-bottom: 67px;
}
.landing .news .news_wrapper {
  display: flex;
  justify-content: space-around;
}/*# sourceMappingURL=index.css.map */