@import "global";

//GLOBAL STYLES
body {
	overflow-x: hidden;
}

.no-scroll {
	margin-right: 17px;
	overflow: hidden;
}

//NAVBARS AND FOOTER
.announcement_bar {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10.42vw;
	background: $grey_100;

	.language-and-currency {
		display: flex;
		gap: 24px;

		> div {
			display: flex;
			align-items: center;
			gap: 2px;
		}
	}

	* {
		color: $white;
	}

	@media (max-width: 700px) {
		.language-and-currency {
			display: none;
		}
	}

	@media (max-width: 520px) {
		flex-direction: column;
		justify-content: center;
	}
}

.navbar {
	width: 100%;
	height: 130px;

	&__top {
		padding: 0 10.42vw;
		border-bottom: 1px solid $shape_line;
		height: 80px;
		width: 100%;
		display: flex;
		align-items: center;

		.searchbar {
			background-color: $grey_700;
			width: 100%;
			height: 48px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 12px 0 24px;
			border-radius: 24px;
			margin: 0 48px;
			border: 1px solid $grey_600;

			input {
				border: none;
				width: 100%;
				height: 100%;
				background-color: inherit;

				&:focus {
					outline: none;
				}
			}

			@media (max-width: 1000px) {
				margin: 0 2vw;
			}
		}

		@media (max-width: 780px) {
			padding: 0 2vw;
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;
		width: 100%;
		padding: 0 10.42vw;
		// gap: 24px;

		.left {
			display: flex;
			align-items: center;
			gap: 24px;
			min-width: 313px;

			& > div {
				display: flex;
				align-items: center;
				gap: 2px;
				cursor: pointer;
			}
		}

		.right {
			display: flex;
			align-items: center;
			gap: 32px;

			& > span {
				display: flex;
				align-items: center;
				gap: 2px;
			}

			.store_location {
				margin-left: 24px;
			}
		}

		@media (max-width: 631px) {
			justify-content: center;
			.track_order {
				display: none;
			}
		}

		@media (max-width: 490px) {
			.store_location {
				display: none;
			}
		}

		@media (max-width: 780px) {
			padding: 0 2vw;
			// justify-content: center;
		}
	}
}

.footer {
	background: $grey_700;
	padding: 0 10.42vw 0;
	width: 100%;

	&__top {
		display: flex;
		justify-content: space-between;
		padding: 100px 0;

		.left {
			.p3 {
				margin: 14px 0 24px;
			}

			.button_container {
				display: flex;
				gap: 16px;
				margin-top: 14px;

				button {
					border: none;
				}
			}
		}

		.right {
			display: flex;
			gap: 4vw;

			.list_container {
				display: flex;
				flex-direction: column;
				gap: 14px;

				h5 {
					margin-bottom: 8px;
				}

				.contact {
					display: flex;
					align-items: center;
					gap: 8px;
				}

				.social_media_container {
					margin-top: 10px;

					img {
						width: 24px;
						height: auto;
						margin-right: 16px;
					}
				}
			}
		}

		@media (max-width: 1100px) {
			flex-direction: column;
			gap: 30px;

			.left {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}

			.right {
				justify-content: space-between;
			}
		}

		@media (max-width: 750px) {
			.left {
				flex-direction: column;
			}
		}

		@media (max-width: 652px) {
			text-align: center;

			.left {
				.button_container {
					justify-content: center;
				}
			}

			.right {
				display: block;

				& > div:not(:last-child) {
					margin-bottom: 30px;
				}

				.contact {
					justify-content: center;
				}
			}
		}
	}

	&__bottom {
		border-top: 1px solid $shape_line;
		height: 144px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.payment_container {
			display: flex;
			align-items: center;
			gap: 18px;

			.payment_partners {
				display: flex;
				gap: 8px;
			}
		}

		@media (max-width: 1000px) {
			flex-direction: column;
			justify-content: center;
			gap: 10px;
		}

		@media (max-width: 560px) {
			& > .h7 {
				text-align: center;
			}

			.payment_container {
				flex-direction: column;
				gap: 10px;
			}
		}
	}
}

//POP UP MENUS
.popup_menu {
	position: absolute;
	background: white;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.3s, opacity 0.3s;
	z-index: 2;

	&::after {
		content: "";
		position: absolute;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-bottom: 14px solid $white;
	}

	&::before {
		content: "";
		position: absolute;
		background-color: transparent;
		width: 100%;
	}

	&:hover.show {
		visibility: visible;
		opacity: 1;
	}
}

.auth_menu {
	border-radius: 8px;
	width: 120px;
	padding: 12px 0px;
	right: -28px;
	top: 50px;

	&::after {
		right: 28px;
		top: -13px;
	}

	&::before {
		right: 0px;
		top: -26px;
		height: 26px;
	}

	span {
		padding: 4px 32px 4px 16px;
		display: flex;
		align-items: center;
		display: block;
		cursor: pointer;
		transition: background-color 0.5s ease;

		&:hover {
			background-color: $grey_600;
		}
	}
}

.room_popup {
	position: relative;

	& > span {
		width: 57px;
	}

	.room_menu {
		max-width: 90vw;
		left: -12px;
		top: 40px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 30px;
		border-radius: 16px;
		padding: 30px 30px 18px 30px;

		&::after {
			left: 48px;
			top: -14px;
		}

		&::before {
			right: 0px;
			top: -26px;
			height: 26px;
		}

		a {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 8px;

			img {
				border-radius: 4px;
				max-width: 200px;
				max-height: fit-content;
			}
		}
	}

	&:hover .show {
		visibility: visible;
		opacity: 1;
	}
}

.product_popup {
	position: relative;

	.product_menu {
		border-radius: 8px;
		width: 360px;
		height: auto;
		left: -80px;
		top: 40px;
		display: flex;
		justify-content: space-between;

		&::after {
			right: 205px;
			top: -13px;
		}

		&::before {
			right: 0px;
			top: -26px;
			height: 26px;
		}

		@media (max-width: 460px) {
			left: -90px;

			&::after {
				right: 195px;
			}
		}

		.left,
		.right {
			min-width: 50%;
			display: flex;
			flex-direction: column;
			padding: 12px 0;
			gap: 0;
		}

		.left {
			border-right: 1px solid $grey_500;
		}

		span {
			padding: 4px 16px 4px 16px;
			display: flex;
			justify-content: space-between;
			cursor: pointer;
			transition: background-color 0.5s ease;
			width: 100%;

			&:hover {
				background-color: $grey_600;
			}
		}
	}

	span {
		padding: 4px 32px 4px 16px;
		display: flex;
		align-items: center;
		display: block;
		cursor: pointer;
		transition: background-color 0.5s ease;

		&:hover {
			background-color: $grey_600;
		}
	}

	&:hover .show {
		visibility: visible;
		opacity: 1;
	}
}

.contact_menu {
	border-radius: 8px;
	width: 180px;
	padding: 12px 0px;
	right: -28px;
	top: 40px;

	&::after {
		right: 24px;
		top: -13px;
	}

	&::before {
		right: 0px;
		top: -26px;
		height: 26px;
	}

	span {
		padding: 4px 32px 4px 16px;
		display: flex;
		align-items: center;
		display: block;
		cursor: pointer;
		transition: background-color 0.5s ease;

		&:hover {
			background-color: $grey_600;
		}
	}
}

.cart_popup {
	position: relative;

	.cart_menu {
		width: 400px;
		right: -48px;
		top: 50px;
		border-radius: 16px;

		&::after {
			right: 48px;
			top: -13px;
		}

		&::before {
			right: 0px;
			top: -26px;
			height: 26px;
		}

		.h5 {
			padding: 14px 24px;
			border-bottom: 1px solid $shape_line;
			margin: none;
		}

		.cart_items {
			padding: 24px;
			display: flex;
			flex-direction: column;
			gap: 24px;

			img {
				width: 72px;
				height: 72px;
				border-radius: 4px;
				border: 1px solid #d8d8d8;
				padding: 4px;
			}
		}

		.checkout {
			padding: 24px;
			border-top: 1px solid $shape_line;

			.subtotal {
				display: flex;
				justify-content: space-between;
				margin-bottom: 22px;
			}

			.checkout_button {
				background-color: $purple;
				color: $white;
				padding: 12px;
				text-align: center;
				border-radius: 20px;
				width: 100%;
				margin-bottom: 16px;

				&:active {
					background-color: #44316f; /* Darker color, for example */
				}
			}

			.view_cart_button {
				background-color: $white;
				padding: 12px;
				text-align: center;
				width: 100%;
				border-radius: 20px;
			}
		}
	}

	&:hover .show {
		visibility: visible;
		opacity: 1;
	}

	.cart_item {
		display: flex;

		.left {
			position: relative;
			width: 72px;
			height: 72px;
			border-radius: 4px;
		}

		.center {
			margin: 0 auto 0 16px;

			.item_weight {
				margin: 4px 0 11px;
			}
		}

		.right {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: space-between;
		}
	}
}

.profile_popup {
	position: relative;
	margin-left: 24px;

	.profile_menu {
		border-radius: 8px;
		width: 230px;
		padding: 0 0px 10px;
		right: -28px;
		top: 50px;

		&::after {
			right: 28px;
			top: -13px;
		}

		&::before {
			right: 0px;
			top: -26px;
			height: 26px;
		}

		h5 {
			padding: 14px 24px;
			border-bottom: 1px solid $shape_line;
			margin-bottom: 8px;
		}

		span {
			padding: 4px 32px 4px 16px;
			display: flex;
			align-items: center;
			display: block;
			cursor: pointer;
			transition: background-color 0.5s ease;

			&:hover {
				background-color: $grey_600;
			}
		}
	}

	&:hover .show {
		visibility: visible;
		opacity: 1;
	}
}

.filter {
	.filter_button {
		gap: 10px;
		height: 40px;
		background: transparent;
		border-radius: 28px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 16px;
	}

	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.4);
		z-index: 10;
		visibility: hidden;
		transition: visibility 2s ease opacity 2s ease;
		display: flex;

		.close_overlay {
			flex-grow: 1;
		}

		.filter_sidebar {
			max-width: 400px;
			width: 100vw;
			height: 100%;
			background: white;
			position: relative;
			flex-direction: column;
			display: flex;
			transition: visibility 2s ease opacity 2s ease;

			h4 {
				padding: 32px 32px 22px;
				border-bottom: 1px solid $shape_line;
				display: flex;
				justify-content: space-between;
				margin: 0;
			}

			.filter_content {
				overflow-y: auto;
				height: 100vh;
			}

			.filter_item {
				padding: 24px;
				border-bottom: 1px solid $shape_line;
				width: 100%;

				.accordion-button {
					padding: 0;

					&::after {
						content: "";
						width: 12px;
						height: 12px;
						background: white;
						display: inline-block;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 512 512'%3E%3Cstyle%3Esvg%7Bfill:%23808080%7D%3C/style%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'%3E%3C/path%3E%3C/svg%3E");
						background-size: 100% auto;
						background-repeat: no-repeat;
					}
				}

				.accordion-body {
					padding: 24px 0 0 0;
					color: $grey_100;
				}

				.custom-accordion-button:focus,
				.custom-accordion-button:focus-visible {
					box-shadow: none; /* Apply your desired focus color using a box-shadow */
					background: transparent;
				}

				.custom-accordion-button:not(:focus):not(:focus-visible) {
					background-color: transparent; /* Adjust the background color */
					border-color: transparent; /* Adjust the border color */
					box-shadow: none; /* Remove the box-shadow */
				}
			} 

			.price_container,
			.material_container,
			.colors_container {
				display: flex;
				flex-direction: column;
				position: relative;

				label {
					padding: 6px 6px 6px 6px;
					margin-bottom: 12px;
					display: block;
					display: flex;
					align-items: center;
					justify-content: space-between;
					cursor: pointer;

					input {
						width: 16px;
						height: 20px;
					}
				}
			}

			.material_container {
				label {
					&::before {
						background-size: cover;
						background-repeat: no-repeat;
					}
				}
			}

			.colors_container {
				label {
					padding: 6px 6px 6px 44px;
					&::before {
						border-radius: 50%;
						border: 1px solid #d8d8d8;
						content: "";
						position: absolute;
						width: 32px;
						height: 32px;
						left: 0;
					}
				}
				* {
					color: black;
				}
				.gray::before {
					background: #808080;
				}

				.beige::before {
					background: #f5f5dc;
				}

				.white::before {
					background: #ffffff;
				}

				.black::before {
					background: #000000;
				}

				.brown::before {
					background: #8b4513;
				}

				.green::before {
					background: #008000;
				}

				.red::before {
					background: #ff0000;
				}

				.yellow::before {
					background: #ffff00;
				}

				.turquoise::before {
					background: #40e0d0;
				}

				.pink::before {
					background: #ffc0cb;
				}

				.orange::before {
					background: #ffa500;
				}

				.lilac::before {
					background: #c8a2c8;
				}
			}

			.button_container {
				margin-top: auto;
				padding: 24px;
				display: flex;
				justify-content: center;
				gap: 24px;
				align-items: center;
				border-top: 1px solid $shape_line;

				button {
					width: 160px;
					height: 48px;
					border: none;
					border-radius: 24px;

					&.white {
						color: $grey_100;
						background-color: white;
						border: 1px solid $shape_line;
					}

					&.purple {
						color: white;
						background-color: $purple;
					}
				}
			}
		}

		&.active {
			visibility: visible;
		}
	}
}

.sort {
	position: relative;

	&__button {
		width: 240px;
		height: 40px;
		background: transparent;
		border-radius: 28px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 16px;
		transition: width 1s ease;

		.icon {
			margin-left: 10px;
		}
	}

	&__menu {
		top: 30px;
		border-radius: 16px;
		display: flex;
		flex-direction: column;
		padding: 12px 0px;
		top: 60px;
		right: 0px;

		&::after {
			right: 17px;
			top: -14px;
		}

		&::before {
			right: 0px;
			top: -20px;
			height: 20px;
		}

		span {
			padding: 4px 32px 4px 16px;
			display: flex;
			align-items: center;
			display: block;
			cursor: pointer;
			transition: background-color 0.5s ease;

			&:hover {
				background-color: $grey_600;
			}
		}
	}

	&:hover .show {
		visibility: visible;
		opacity: 1;
	}
}

//GLOBAL COMPONENTS
.divider {
	width: 100%;
	height: 1px;
	background: $shape_line;
}

.loading_screen {
	display: block;
	margin: 100px auto;
	width: 50px;
	height: 50px;

	&.wider {
		margin: 30vh auto;
	}
}

.not_found_image {
	display: block;
	width: 100%;
	margin: 50px 0;
}

.empty_cart {
	width: 100% !important;
	display: block;
	height: auto !important;
	border: none !important;
}

.under_construction_image {
	max-width: 100%;
	max-height: 100vh;
	display: block;
	margin: 30px auto;
}

.product_card {
	text-align: center;
	cursor: pointer;
	max-width: 263px;

	.image_container {
		position: relative;
		width: 263px;
		height: 263px;

		img {
			width: 100%;
			height: 100%;
			border-radius: 8px;
			transition: opacity 0.3s ease-in-out;

			&.main {
				padding: 15px;
				border: 1px solid #d8d8d8;

				&.hidden {
					opacity: 0;
					visibility: hidden;
				}
			}

			&.contextImg {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				visibility: hidden;

				&.show {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	.name {
		margin: 8px 0 4px;
	}

	.price_container {
		margin-top: 10px;

		.discounted_price {
			margin-left: 6px;
			color: $grey_400;
			text-decoration: line-through;
		}
	}
}

.product_carousel {
	width: 100%;
	padding: 100px 0 100px;
	position: relative;

	.hide_scrollbar {
		display: block;
		width: 100%;
		height: 5px;
		background: rgb(255, 255, 255);
		position: rergb(221, 23, 23) e;
		bottom: 5px;
		margin-bottom: -5px;
		opacity: 1;
		visibility: visible;
		-webkit-transition: visibility 0.3s ease-in-out,
			opacity 0.3s ease-in-out;
		-moz-transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
		-ms-transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
		-o-transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
		transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
		position: relative;
		bottom: 5px;
	}

	&:hover .hide_scrollbar {
		opacity: 0;
		visibility: hidden;
	}

	.products_container {
		display: flex;
		gap: 30px;
		margin-top: 68px;
		padding-bottom: 20px;
		overflow-x: auto;
		position: relative;

		&::-webkit-scrollbar {
			height: 5px;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 100px;
			background-color: $grey_600;
		}

		&:hover ~ .hide_scrollbar {
			opacity: 0;
			visibility: hidden;
		}

		&:hover ~ button {
			opacity: 1;
		}
	}

	& > button {
		position: absolute;
		display: grid;
		place-items: center;
		width: 40px;
		height: 40px;
		border: 0;
		background: #ecececaf;
		transition: background-color 1s ease;
		border-radius: 50%;
		bottom: 315px;
		transition: opacity 0.5s ease;
		opacity: 0;

		&.left {
			left: 10px;
		}

		&.right {
			right: 10px;
		}

		&:hover {
			opacity: 1;
			background: #dfdedeaf;
		}

		&:hover ~ .hide_scrollbar {
			opacity: 0;
			visibility: hidden;
		}
	}
}

.quantity_selector {
	border-radius: 28px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.rating {
	display: flex;
	justify-content: center;
	gap: 4px;

	.star {
		color: $alert_yellow;
	}
}

.catergory_block {
	width: 165px;
	height: 162px;
	display: flex;
	flex-direction: column;
	gap: 24px;

	img {
		border-radius: 8px 8px 0 0;
	}
}

.news_card {
	max-width: 360px;

	.h4 {
		margin: 24px 0 8px;
	}

	.h7 {
		padding-bottom: 22px;
		border-bottom: 1px solid $shape_line;
	}

	.p3 {
		margin-top: 12px;
	}

	img {
		border-radius: 8px;
		width: 100%;
	}
}

//PAGES
.landing {
	width: 100%;

	.hero {
		padding: 72px 0 70px;
		text-align: center;

		.h1 {
			margin-bottom: 11px;
			padding: 0 12px;
		}

		.h6 {
			padding: 0 12px;
		}
	}

	.shop_now {
		width: 100%;
		height: 500px;
		max-height: 500px;
		background-image: url("../img/landing/decorated-interior.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center 60%;
		display: grid;
		place-items: center;

		&__button {
			background-color: $white;
			padding: 20px 20px 20px 32px;
			border-radius: 32px;
			border: none;
			display: flex;
			align-items: center;
			gap: 25px;
			cursor: pointer;
		}
	}

	.catergory_section {
		padding: 100px 0;
		text-align: center;

		.catergories_container {
			margin-top: 68px;
			padding: 0 12px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 30px;
			margin-right: auto;
			margin-left: auto;
		}
	}

	.new_product {
		padding: 0 10.42vw 100px;

		&__header {
			display: flex;
			gap: 20px;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
			border-top: 1px solid $shape_line;
			padding: 100px 0 68px;

			nav {
				display: flex;
				flex-wrap: wrap;
				gap: 4px;

				span {
					padding: 6px 16px;
					border-radius: 24px;
					border: 1px solid transparent;
					cursor: pointer;
				}
			}
		}

		&__content {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: center;
			gap: 30px;

			.mainDisplayContainer {
				max-width: 555px;
				height: 740px;
				width: 90%;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 8px;
				}

				@media (max-width: 800px) {
					width: 100%;
					height: auto;
				}
			}

			.other_products_container {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 28px;

				@media (max-width: 600px) {
					grid-template-columns: repeat(1, 1fr);
				}
			}
		}
	}

	.sofa_set {
		display: flex;
		justify-content: space-between;

		&__content {
			padding: 131px 0 0 150px;
			background: $grey_700;
			width: 50%;

			.h1 {
				margin: 27px 0 7px;
			}

			.p3 {
				color: $grey_200;
				margin-bottom: 32px;
			}

			.other_product {
				display: flex;
				gap: 24px;
				margin-bottom: 24px;

				img {
					width: 105px;
					height: 105px;
					border-radius: 8px;
				}

				.discounted_price {
					span {
						color: $grey_400;
						text-decoration: line-through;
						margin-left: 4px;
					}
				}
			}

			.explore_collection_button {
				padding: 20px 32px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				color: $white;
				border: none;
				border-radius: 32px;
				background: $purple;
				margin-top: 48px;

				& > .icon {
					color: $white;
					margin-left: 16px;
				}
			}
		}

		.img_container {
			width: 50%;
		}

		&__image {
			width: 100%;
		}

		@media (max-width: 1400px) {
			flex-direction: column-reverse;

			&__content {
				width: 100%;
				padding: 40px 10.42vw;
			}

			.img_container {
				width: 100%;
				max-height: 700px;
				position: relative;
				overflow: hidden;
				display: flex;
				align-items: center;
			}
		}
	}

	.brands {
		padding: 88px 10.42vw 0px;

		.brand__container {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 30px;
			flex-wrap: wrap;

			.brand {
				width: 204px;
				height: 100px;
				display: grid;
				place-items: center;
			}
		}

		.divider {
			margin-top: 88px;
		}
	}

	.news {
		padding: 100px 10.42vw;

		h1 {
			text-align: center;
			margin-bottom: 67px;
		}

		.news_wrapper {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 30px;
		}
	}
}

.pdp {
	width: 100%;
	padding: 0 10.42vw;

	.main_product_info {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 1100px) {
			flex-direction: column;
		}
	}

	.img_container {
		width: 50%;
		height: 100%;
		display: grid;
		place-items: center;
		padding: 20px;
		position: relative;

		img {
			width: 100%;
			height: auto;
			transition: opacity 0.3s ease;

			&.main.hidden {
				opacity: 0;
				visibility: hidden;
			}

			&.contextImg {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				visibility: hidden;
				width: calc(100% - 40px);
				margin: 20px;

				&.show {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		@media (max-width: 1100px) {
			width: 100%;
			padding-top: 38px;
		}
	}

	.product_info {
		width: 45%;
		height: 100%;
		padding-top: 38px;

		.product_name {
			margin: 0 0 6px;
		}

		.price_rating_container {
			display: flex;
			gap: 16px;
			align-items: flex-end;
			border-bottom: 1px solid $shape_line;
			padding: 16px 0 24px;

			.price_container {
				.discount_percent {
					background: $alert_red;
					color: $white;
					padding: 1px 3px;
					display: inline-block;
					margin-right: 8px;
				}

				.original_price {
					color: $grey_400;
					text-decoration: line-through;
				}
			}

			.review_container {
				margin-bottom: 6px;

				.people_purchased {
					color: $grey_300;
				}
			}
		}

		.variation_container {
			border-bottom: 1px solid $shape_line;
			padding: 24px 0;

			.h5 {
				margin-bottom: 14px;

				.h7 {
					margin-left: 8px;
				}
			}

			.variation_images {
				display: flex;
				gap: 16px;
				max-width: 100%;
				padding-bottom: 10px;
				overflow-x: auto;

				&::-webkit-scrollbar-track {
					-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
					background-color: #f5f5f5;
					border-radius: 20px;
				}

				&::-webkit-scrollbar {
					height: 6px;
					background-color: #f5f5f5;
					border-radius: 20px;
				}

				&::-webkit-scrollbar-thumb {
					background-color: $grey_600;
					border-radius: 20px;
				}

				img {
					padding: 2px;
					border-radius: 4px;
					width: 48px;
					height: 48px;
					border: 1px solid transparent;
				}
			}
		}

		.action_container {
			padding: 24px 0 32px;
			border-bottom: 1px solid $shape_line;

			.stocks_container {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 32px;
			}

			.add_item_container {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.add_wishlist {
					width: 64px;
					height: 64px;
					border-radius: 50%;
					background-color: transparent;
					display: grid;
					place-items: center;
					margin-right: 16px;

					&.liked {
						border-color: #ff0000; /* liked border color (red) */
						background-color: #ffd3d3; /* liked background color (light red) */

						.icon {
							color: #ff0000; /* liked icon color (red) */
						}
					}
				}

				.add_cart {
					padding: 20px 0;
					background-color: $purple;
					color: white;
					border-radius: 32px;
					border: none;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 8px;
					flex: 1 1 auto;

					&:active {
						background-color: #44316f; /* Darker color, for example */
					}
				}
			}
		}

		.shipping_or_store {
			padding-top: 24px;
			display: flex;
			flex-direction: column;
			gap: 16px;

			.shipping,
			.store {
				display: flex;
				align-items: center;
			}

			.h7 {
				margin: 0 auto 0 12px;
				line-height: 17px;

				.p4 {
					color: $grey_300;
				}
			}
		}

		@media (max-width: 1100px) {
			width: 100%;
		}
	}

	.product_details {
		width: 45%;
		margin-top: 35px;
		border-top: 1px solid $shape_line;
		padding-bottom: 110px;

		.custom-accordion-button:focus,
		.custom-accordion-button:focus-visible {
			box-shadow: none; /* Apply your desired focus color using a box-shadow */
			background: transparent;
		}

		.custom-accordion-button:not(:focus):not(:focus-visible) {
			background-color: transparent; /* Adjust the background color */
			border-color: transparent; /* Adjust the border color */
			box-shadow: none; /* Remove the box-shadow */
		}

		@media (max-width: 1100px) {
			width: 100%;
		}
	}

	@media (max-width: 780px) {
		padding: 0 2vw;
	}
}

.shop {
	padding: 0 10.42vw;

	.room_subcatergory {
		padding: 48px 0;
		border-bottom: 1px solid $shape_line;

		.h2 {
			text-transform: capitalize;
		}

		.furniture_container {
			margin-top: 68px;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(208px, 1fr));
			gap: 25px;

			span {
				width: 208px;
				height: 72px;
				display: flex;
				align-items: center;
				gap: 16px;
				background: $grey_700;
				border-radius: 8px;
				cursor: pointer;
				border: 1px solid $grey_700;

				img {
					width: 72px;
					height: 72px;
					border-radius: 8px;
					border: 1px solid $grey_700;
				}
			}
		}
	}

	.product_carousel {
		border-bottom: 1px solid $shape_line;
		padding: 80px 0;
	}

	@media (max-width: 780px) {
		padding: 0 2vw;
	}

	.shop_grid {
		padding: 50px 0 100px;

		.head_row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 12px;
			margin-bottom: 72px;

			&_buttons {
				display: flex;
				gap: 16px;
				flex-wrap: wrap;
				justify-content: center;
			}

			@media (max-width: 600px) {
				flex-direction: column;
			}
		}

		.shop_grid_container {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
			row-gap: 48px;
			column-gap: 30px;

			.product_card {
				margin: auto;
			}
		}

		.pagination {
			margin-top: 100px;
			display: flex;
			align-items: center;
			justify-content: center;

			.hidden {
				display: none;
			}

			.pagination_num {
				border: none;
				width: 32px;
				height: 32px;
				border-radius: 16px;
				background: transparent;
				display: grid;
				place-items: center;
			}

			.icon:nth-child(1) {
				margin-top: 2px;
				margin-right: 8px;
			}

			.icon:last-of-type {
				margin-top: 2px;
				margin-left: 8px;
			}
		}
	}
}

.shopping_cart {
	padding: 72px 10.42vw 0;

	.cart_items_scrollbar {
		overflow-x: auto;

		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
			background-color: #f5f5f5;
		}

		&::-webkit-scrollbar {
			height: 6px;
			background-color: #f5f5f5;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $grey_600;
		}
	}

	.cart_items_container {
		min-width: 700px;

		.cart_header {
			margin-top: 44px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 10px;
			border-bottom: 1px solid $shape_line;

			.product {
				width: 60%;
			}

			.amount {
				width: 150px;
				text-align: center;
			}

			.subtotal {
				width: 97px;
				text-align: right;
			}
		}

		.cart_item {
			border-bottom: 1px solid $shape_line;
			min-height: 190px;
			padding: 24px 0;
			display: flex;
			justify-content: space-between;

			.left {
				display: flex;
				gap: 24px;
				width: 60%;

				img {
					width: 140px;
					height: 140px;
					border-radius: 8px;
					border: 1px solid #d8d8d8;
					padding: 8px;
				}

				.name {
					margin-bottom: 6px;
				}

				.price {
					margin-bottom: 14px;
				}
			}

			.right {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				justify-content: space-between;

				.action_icons {
					display: flex;
					align-items: center;

					.like {
						color: #dc143c;
					}

					.vertical_divider {
						height: 24px;
						width: 1px;
						background: $shape_line;
						display: inline-block;
						margin: 0 24px;
					}
				}
			}
		}
	}

	.cart_footer {
		display: flex;
		justify-content: space-around;
		padding: 64px 0 100px;
		gap: 5%;

		.textarea_container {
			position: relative;
			max-width: 600px;
			width: 45%;
			height: 128px;

			.pen_icon {
				position: absolute;
				top: 24px;
				left: 16px;
			}

			textarea {
				padding: 24px 16px;
				border: 1px solid $shape_line;
				border-radius: 8px;
				resize: none;
				width: 100%;
				height: 100%;

				&:focus {
					outline: 1px solid $purple;
				}

				&::placeholder {
					padding-left: 36px;
				}
			}
		}

		.checkout_container {
			width: 50%;
			max-width: 600px;

			.promo_code_container {
				border: 1px solid $shape_line;
				border-radius: 28px;
				margin-top: 14px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 48px;

				input {
					padding: 18px 24px;
					flex-grow: 1;
					border: none;
					border-radius: 28px 0 0 28px;

					&:focus {
						outline: none;
					}
				}

				button {
					background-color: $purple;
					width: 88px;
					height: 48px;
					border: none;
					color: white;
					border-radius: 24px;
					line-height: 100%;
					margin-right: 4px;
				}
			}

			.quantity {
				display: flex;
				justify-content: space-between;
				margin-bottom: 14px;
			}

			.weight {
				margin-bottom: 14px;
				display: flex;
				justify-content: space-between;
			}

			.shipping {
				padding: 16px 0 14px;
				border-top: 1px solid $shape_line;
				border-bottom: 1px solid $shape_line;
				display: flex;
				justify-content: space-between;
			}

			.total {
				margin: 24px 0 22px;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			.pay_button {
				background-color: $purple;
				width: 100%;
				height: 64px;
				border: none;
				color: white;
				border-radius: 32px;
				line-height: 100%;
				margin-bottom: 24px;
				display: flex;
				align-items: center;
				gap: 12px;
				justify-content: center;
			}
		}

		@media (max-width: 900px) {
			flex-direction: column;
			align-items: center;
			gap: 64px;

			.textarea_container,
			.checkout_container {
				width: 100%;
			}
		}
	}

	@media (max-width: 780px) {
		padding: 72px 2vw 0;
	}
}

.location {
	.heading {
		padding: 72px 10.42vw 0;
	}

	.store_container {
		padding: 0 10.42vw;
		margin: 68px 0 100px;
		display: flex;
		row-gap: 72px;
		column-gap: 30px;
		flex-wrap: wrap;
		justify-content: space-around;

		.store_card {
			max-width: 360px;

			img {
				max-width: 360px;
				max-height: 300px;
				border-radius: 8px;
			}

			.name {
				margin: 24px 0 10px;
			}

			.open_hour {
				margin: 16px 0 2px;
			}

			.read_more {
				margin-top: 32px;
				display: block;
				color: $purple;
				text-decoration: underline;
			}
		}
	}

	.support_container {
		padding: 100px 0;
		margin: 0 10.42vw;
		border-top: 1px solid $shape_line;
		display: flex;
		justify-content: space-around;

		& > div {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.support_icon {
				color: $orange;
			}
		}

		.vertical_divider {
			display: block;
			width: 1px;
			height: 144px;
			background: $shape_line;
		}

		@media (max-width: 780px) {
			margin: 0 2vw;
		}

		@media (max-width: 600px) {
			flex-direction: column;
			gap: 48px;

			.vertical_divider {
				display: none;
			}
		}
	}
}

.payment {
	width: 100%;
	padding: 72px 10.42vw 100px;
	min-height: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 50px;

	&__form {
		border-width: 2px;
		max-width: 60%;
		padding-left: 75px;
		border-left: 2px dashed $grey_500;
		position: relative;

		//general styling for input, heading, subheading
		.heading {
			margin-bottom: 44px;

			&_num {
				width: 40px;
				height: 40px;
				background-color: $purple;
				display: block;
				border-radius: 50%;
				color: white;
				display: grid;
				place-items: center;
				position: absolute;
				left: -21px;
			}
		}

		.sub_heading {
			margin-bottom: 14px;
		}

		.input {
			height: 48px;
			padding: 16px;
			border: 1px solid $grey_600;
			width: 100%;
			border-radius: 8px;

			&:hover {
				border: 1px solid $grey_400;
			}

			&[type="number"]::-webkit-inner-spin-button,
			&[type="number"]::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}

		//sections
		.address {
			margin-bottom: 72px;

			.email_container {
				margin-bottom: 40px;

				.sub_heading {
					display: flex;
					justify-content: space-between;
					align-items: center;
					flex-wrap: wrap;
					gap: 5px;

					.login {
						color: $purple;
						margin-left: 4px;
					}
				}

				.email_input {
					margin-bottom: 12px;
				}

				label {
					display: flex;
					align-items: center;
					gap: 12px;
					cursor: pointer;

					.checked_icon {
						color: $orange;
					}
				}
			}

			.address_container {
				.input_container {
					display: flex;
					flex-wrap: wrap;
					gap: 24px;

					.half_input {
						max-width: calc(50% - 12px);

						@media (max-width: 450px) {
							max-width: 100%;
						}
					}
				}
			}
		}

		.review_order {
			.cart_info_container {
				border-top-right-radius: 12px;
				border-top-left-radius: 12px;
				border: 1px solid #d8d8d8;
				border-bottom: none;
				padding: 24px;

				.cart_item {
					display: flex;
					gap: 24px;
					padding: 24px 0;

					border-bottom: 1px solid $shape_line;

					.image {
						width: 96px;
						height: 96px;
						object-fit: cover;
						border-radius: 8px;
					}

					.h7 {
						color: $grey_300;

						&.weight {
							margin: 10px 0 12px;
						}
					}

					.price {
						margin-left: auto;
					}

					&:first-child {
						padding-top: 0;
					}

					&:last-child {
						border: none;
						padding-bottom: 0;
					}
				}
			}

			.other_info_container {
				border-bottom-right-radius: 12px;
				border-bottom-left-radius: 12px;
				border: 1px solid #d8d8d8;

				& > div {
					padding: 24px;
					display: flex;
					border-bottom: 1px solid #d8d8d8;

					h5 {
						width: 50%;
					}

					.p3 {
						color: $grey_200;

						img {
							height: 16px;
							width: auto;
							margin-left: 9px;
						}
					}

					&:last-of-type {
						border: none;
					}
				}
			}
		}

		.payment_method {
			margin-bottom: 72px;

			#paymentMethodAccordion {
				border: 1px solid #d8d8d8;
				border-radius: 12px;
				overflow: hidden;

				.accordion-body {
					border-top: 1px solid #d8d8d8;
					padding: 24px;
					display: flex;
					flex-wrap: wrap;
					gap: 24px;

					.small_input {
						width: calc(33.33% - 16px);

						@media (max-width: 450px) {
							width: 100%;
						}
					}
				}

				.accordion-button {
					padding: 24px;

					.icon {
						margin-right: 14px;

						&.purple {
							color: $purple;
						}
					}

					.logo_containers {
						gap: 4px;
						display: flex;
						margin-left: auto;
					}

					&::after {
						display: none;
					}

					&:focus,
					&:focus-visible {
						box-shadow: none; /* Apply your desired focus color using a box-shadow */
						background: transparent;
					}

					&:not(:focus):not(:focus-visible) {
						background-color: transparent; /* Adjust the background color */
						border-color: transparent; /* Adjust the border color */
						box-shadow: none; /* Remove the box-shadow */
					}
				}
			}
		}
	}

	&__order {
		width: 360px;
		border-radius: 12px;
		border: 1px solid #d8d8d8;
		padding: 32px;

		.headline {
			margin-bottom: 22px;
		}

		h6 {
			display: flex;
			justify-content: space-between;
		}

		.order_info {
			padding: 24px 0;
			display: flex;
			flex-direction: column;
			gap: 14px;
			border-bottom: 1px solid #d8d8d8;
			border-top: 1px solid #d8d8d8;
		}

		.total {
			margin: 16px 0 24px;
		}

		.next_button {
			display: grid;
			place-items: center;
			background: $purple;
			width: 100%;
			height: 64px;
			color: white;
			border-radius: 32px;
			border: none;
			&:active {
				background-color: #44316f; /* Darker color, for example */
			}
		}
	}

	@media (max-width: 1100px) {
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&__order {
			width: 90%;
		}

		&__form {
			max-width: 90%;
		}
	}

	@media (max-width: 780px) {
		padding: 72px 2vw 100px;
	}

	@media (max-width: 650px) {
		&__form {
			padding-left: 0;
			border-left: none;

			.heading {
				&_num {
					//hide the numbers
					display: none;
				}
			}
		}
	}
}

.auth {
	.form_container {
		width: 360px;
		border: 1px solid $grey_500;
		border-radius: 12px;
		box-shadow: 3px 3px 10px 2px rgba(128, 128, 128, 0.429);
		margin: 80px auto 0;
		padding: 32px;

		.header {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 20px;
			margin-bottom: 24px;

			.logo {
				width: auto;
				height: 38px;
			}

			.h3 {
				margin-top: 6px;
			}
		}

		.google_button {
			height: 40px;
			width: 100%;
			background: white;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid #d8d8d8;
			gap: 10px;
			border-radius: 6px;
			cursor: pointer;

			img {
				height: 20px;
			}

			.h6 {
				margin: 0;
			}
		}

		.divider_container {
			margin: 28px 0;
			display: flex;
			align-items: center;
			gap: 8px;

			.h5 {
				margin: 0;
				color: $grey_500;
			}
		}

		form {
			input {
				display: block;
				border: 1px solid #d8d8d8;
				border-radius: 6px;
				width: 100%;
				height: 38px;
				padding: 16px;
				margin-bottom: 12px;
			}

			.password_container {
				position: relative;

				.eye_icon {
					position: absolute;
					top: 10px;
					right: 16px;
				}
			}

			button {
				margin-top: 16px;
				background-color: $purple;
				color: $white;
				padding: 12px;
				border: 1px solid #d8d8d8;
				border-radius: 20px;
				width: 100%;

				&:active {
					background-color: #44316f; /* Darker color, for example */
				}
			}

			.forgot_password {
				text-align: right;
				margin-bottom: 12px;
				cursor: pointer;
				&:hover {
					transition: color 0.5s ease;
					color: $purple;
				}
			}

			.change_form {
				margin-top: 24px;
				margin-bottom: 0;
				text-align: center;

				.underline {
					cursor: pointer;
					text-decoration: underline;

					&:hover {
						transition: color 0.5s ease;
						color: $purple;
					}
				}
			}
		}
	}
}

.about {
	width: 100%;
	padding: 0 10.42vw;
	text-align: center;

	.website_container {
		padding: 100px;
		height: 500px;
		width: 100%;
	}

	.project_container {
		padding: 100px;
		height: 500px;
		width: 100%;
	}
}
